.div-table{display:table; border:1px solid #003399;}

.div-table-caption{display:table-caption; background:#009999;}

.div-table-row{display:table-row;}

.div-table-col{display:table-cell; width: 10%; height: 10%; padding:  5px; border: 1px solid #003399;}